.bottomNav {
  display: flex;
  position: fixed;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  flex-direction: row;
  background-color: rgba(235, 234, 235, 70);
  backdrop-filter: blur(4px);
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
}

.item svg {
  transform: scale(0.8);
}

.item i {
  color: var(--nickel);
  font-size: 30px;
}

.active {
  background-color: var(--nickel);
}

.active i {
  color: var(--platinium);
}
