:root {
  --white: #ffffff;
  --platinium: #ebeaeb;
  --nickel: #70716f;
  --green: #688649;
  --red: #c55252;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
  font-family: 'Roboto', 'sans-serif';
  color: var(--nickel);
}
