@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #ffffff;
  --platinium: #ebeaeb;
  --nickel: #70716f;
  --green: #688649;
  --red: #c55252;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
  font-family: 'Roboto', 'sans-serif';
  color: var(--nickel);
}

.container {
  margin: 0px 8px;
}
