.recipe {
  border-radius: 10px;
  box-shadow: 0px 0px 4px var(--nickel);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 184px;
  position: relative;
  text-decoration: none;
  outline: none;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
  position: absolute;
  z-index: -1;
}

.coverImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-right: 15px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  flex-basis: 80%;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  margin: 0;
}

.ico {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ico i {
  font-size: 25px;
  color: var(--red);
}

.timing {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.timer {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 12px;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: stretch;
}

.difficulty,
.notes {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 12px;
  margin: 0;
}
.difficulty {
  font-size: 18px;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.easy {
  color: var(--green);
}
.medium {
  color: var(--goldBlack);
}
.hard {
  color: var(--red);
}

.notes {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 18px;
  color: var(--gold);
}
